*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}



/*****************************************************/

main{
    padding: 0 10%;
}
/*****************************************************/

.body_ {
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: 'Montserrat';

}

header{
    display: flex;
    justify-content: space-between;
    margin: 1.5% 10%;
    height: 8vh;

}

/*************************************************/
