*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.body_ {
    border: 2px solid red;
    height: 100vh;
    width: 100vw;
    background-color: white;

}

header{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.nav{
    display: flex;
    align-items: center;
   
}

.logo{
    margin: 1% 0;
}

.link__accueil{
    margin: 0 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
}

.link__apropos{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    color: #FF6060;
    
}

.section_1
{
    margin: 0 10%;
    position: relative;
}

.mask_group {
    border:3px solid black;
    position: relative;
    /*text-align: center;*/
}

.mask_group img {
    border-radius: 25px;
    filter: brightness(0.85);
    z-index: 2;
    width: 100%;
   
}

.text_accueil{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffff;
    font-size: 46px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;

}
/************product.jsx********************/
.product{
    border: 3px solid blue;
    margin: 0 10%;
    display: grid;
    justify-content: space-between;
    min-height: 100px;
    grid-template-columns: repeat(3, 1fr);
    padding: 3% 1%;

}

.sections{
    border: 3px solid red;
    padding: 20px 20px;
    margin: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    background-color: #FF6060;


}

.sections p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #ffff;
    margin: 0 50% 0 0;
    text-decoration: none;

}

.img__section{
    padding: 50% 50%;
    max-width: 100%;
    overflow: hidden;
}

/*************footer*********/

.bot{
    border: 3px solid red;
    margin: 0 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bot_text{
    color: #ffff;
}

.img_footer{
    margin: 3% 3%;
    flex: 1;
}

.text_footer{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    flex: 2;
    margin: 1.5% 1.5%;
}

/**********************error404****************************/

.mid_404{
    border: 3px solid red;
    margin: 0 10%;
    height: 80vh;
}

.le404{
    display: flex;
    border: 3px solid red;
    align-items: center;
    justify-content: center;
}

.le404 p{
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 288px;
   color: #FF6060;
   padding: 5% 5%;
}

.text_404{
    display: flex;
    border: 3px solid red;
    align-items: center;
    justify-content: center;
}

.text_404 p{
    color: #FF6060;
    font-family: 'Montserrat';
    font-size: 51px;
    font-weight: 500;
}

.text_404_return{
    display: flex;
    border: 3px solid red;
    align-items: center;
    justify-content: center;

}

.text_404_return p{
    color: #FF6060;
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 500;
    padding: 6% 0;
}

.a_404{
    text-decoration: none;
}

